{% extends 'core/base.html' %}
{% load i18n static %}
{% block javascript %}
<script src="{% static 'js/pages/core/capsules.js' %}"></script>
{% endblock javascript %}
{% block content %} 
    <div class="container">
        <h3 class="mt-5 mb-5">Liste des capsules</h3>
         <table
          id="data-table"
          class="table table-bordered"
          data-url="{% url 'core:capsule_list' %}"
        ></table>
    </div>
{% endblock %}