{% for message in messages %}
  <div class="row">
    <div class="col-12 ">
      <div class="alert alert-{% if message.tags == 'error' %}danger {% else %}{{message.tags}} {% endif %} alert-dismissible fade show" role="alert" style="font-size: 16px; text-align: center;">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ message }}
      </div>
    </div>
  </div>
{% endfor %}